menu "Network Manager Configuration"

config GPS_TRACKER_WIFI_SSID
  string "WiFi SSID"
  default "gps-tracker"
  help
    Change this to your own router's SSID

config GPS_TRACKER_WIFI_PASSWORD
  string "WiFi Password"
  default "abcdefgh"
  help
    Change this to your own router's password
endmenu
